<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="fb_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="fb_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="fb.diagram.part.FbDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/FbDiagramFile.gif"
         extensions="fb_diagram"
         default="true"
         class="fb.diagram.part.FbDiagramEditor"
         matchingStrategy="fb.diagram.part.FbMatchingStrategy"
         contributorClass="fb.diagram.part.FbDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="fb.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/FbDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="fb.diagram.part.FbCreationWizard"
  	     id="fb.diagram.part.FbCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="at.bachmann.gmf.sample.diagram.InitDiagram"
            nameFilter="*.fb"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="fb.diagram.part.FbInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="at.bachmann.gmf.sample.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="FbPresentation">
         <Priority name="Lowest"/>
         <ViewId id="fb.diagram.part.FbDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="FbPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="fb.diagram.part.FbDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="FbRender">
         <Priority name="Lowest"/>
         <ViewId id="fb.diagram.part.FbDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="fb.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="at.bachmann.gmf.sample.diagram.general"
            name="%prefpage.at.bachmann.gmf.sample.diagram.general"
            class="fb.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="at.bachmann.gmf.sample.diagram.appearance"
            name="%prefpage.at.bachmann.gmf.sample.diagram.appearance"
            category="at.bachmann.gmf.sample.diagram.general"
            class="fb.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="at.bachmann.gmf.sample.diagram.connections"
            name="%prefpage.at.bachmann.gmf.sample.diagram.connections"
            category="at.bachmann.gmf.sample.diagram.general"
            class="fb.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="at.bachmann.gmf.sample.diagram.printing"
            name="%prefpage.at.bachmann.gmf.sample.diagram.printing"
            category="at.bachmann.gmf.sample.diagram.general"
            class="fb.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="at.bachmann.gmf.sample.diagram.rulersAndGrid"
            name="%prefpage.at.bachmann.gmf.sample.diagram.rulersAndGrid"
            category="at.bachmann.gmf.sample.diagram.general"
            class="fb.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="at.bachmann.gmf.sample.diagram"
            labelProvider="fb.diagram.sheet.FbSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="at.bachmann.gmf.sample.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="at.bachmann.gmf.sample.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="fb.diagram.sheet.FbPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="fb.diagram.navigator.FbAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="fb.diagram.providers.FbViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Fb"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="fb.diagram.providers.FbEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Fb"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value=""/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value=""/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   
   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="fb.diagram.providers.assistants.FbModelingAssistantProviderOfFBEditPart">
         <Priority name="Lowest"/>
         <object class="fb.diagram.edit.parts.FBEditPart" id="FB_1000"/>
         <context elements="FB_1000"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="fb.diagram.providers.assistants.FbModelingAssistantProviderOfVariableEditPart">
         <Priority name="Lowest"/>
         <object class="fb.diagram.edit.parts.VariableEditPart" id="Variable_2001"/>
         <context elements="Variable_2001"/>
      </modelingAssistantProvider>
      
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="fb.diagram.providers.FbIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="fb.diagram.providers.FbParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://www.bachmann.at/gmf/sample/fb">
         <metamodelType
               id="at.bachmann.gmf.sample.diagram.FB_1000"
               name="%metatype.name.FB_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="FB"
               edithelper="fb.diagram.edit.helpers.FBEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.bachmann.at/gmf/sample/fb">
         <metamodelType
               id="at.bachmann.gmf.sample.diagram.Variable_2001"
               name="%metatype.name.Variable_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Variable"
               edithelper="fb.diagram.edit.helpers.VariableEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="at.bachmann.gmf.sample.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="at.bachmann.gmf.sample.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="at.bachmann.gmf.sample.diagram.TypeContext">
         <elementType ref="at.bachmann.gmf.sample.diagram.FB_1000"/>
         <elementType ref="at.bachmann.gmf.sample.diagram.Variable_2001"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="at.bachmann.gmf.sample.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="at.bachmann.gmf.sample.diagram"
           properties="isURIEditorInput"
           class="fb.diagram.part.FbUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="at.bachmann.gmf.sample.diagram.resourceContent"/>
			<contentExtension pattern="at.bachmann.gmf.sample.diagram.domainResourceContent"/>
            <contentExtension pattern="at.bachmann.gmf.sample.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="at.bachmann.gmf.sample.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="at.bachmann.gmf.sample.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="fb.diagram.navigator.FbNavigatorContentProvider" 
            labelProvider="fb.diagram.navigator.FbNavigatorLabelProvider"
            icon="icons/obj16/FbDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="fb_diagram"/>
               </and>
               <instanceof value="fb.diagram.navigator.FbAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="fb.diagram.navigator.FbAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="at.bachmann.gmf.sample.diagram.navigatorSorter" 
               class="fb.diagram.navigator.FbNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="fb_diagram"/>
                  </and>
                  <instanceof value="fb.diagram.navigator.FbAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="at.bachmann.gmf.sample.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="fb.diagram.navigator.FbDomainNavigatorContentProvider" 
            labelProvider="fb.diagram.navigator.FbDomainNavigatorLabelProvider"
            icon="icons/obj16/FbDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="fb"/>
               </and>
               <instanceof value="fb.diagram.navigator.FbDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="fb.diagram.navigator.FbDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="at.bachmann.gmf.sample.diagram.navigatorActionProvider"
            class="fb.diagram.navigator.FbNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="fb.diagram.navigator.FbAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="at.bachmann.gmf.sample.diagram.navigatorLinkHelper"
            class="fb.diagram.navigator.FbNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="at.bachmann.gmf.sample.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="fb.diagram.navigator.FbAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="fb.diagram.part.FbDiagramUpdateCommand"
         description="%update.diagram.description"
         id="fb.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="fb.diagram.updateDiagram"
         contextId="fb.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="at.bachmann.gmf.sample.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="fb.diagram.part.FbDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="fb.diagram.edit.parts.FBEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="fb.diagram.part.FbDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="at.bachmann.gmf.sample.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="fb.diagram.part.FbDiagramEditorID"
         defaultHandler="fb.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
