/.FBComponentEditPolicy.java._trace
/.FBConnectionComponentEditPolicy.java._trace
/.FBDiagramComponentEditPolicy.java._trace
/.FBGraphicalNodeEditPolicy.java._trace
/FBComponentEditPolicy.java
/FBConnectionComponentEditPolicy.java
/FBDiagramComponentEditPolicy.java
/FBGraphicalNodeEditPolicy.java
/.FBDiagramLayoutEditPolicy.java._trace
/.FBDiagramChangeRoutingEditPolicy.java._trace
/FBDiagramLayoutEditPolicy.java
