/.FBConnectionEditPart.java._trace
/.FBDiagramEditPart.java._trace
/.FBEditPart.java._trace
/.FBEditPartFactory.java._trace
/.VariableEditPart.java._trace
/FBConnectionEditPart.java
/FBDiagramEditPart.java
/FBEditPart.java
/FBEditPartFactory.java
/VariableEditPart.java
